.buttons {
    text-align: center;
    position: relative;
    top: 300px;
  }
  .button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 21px;
    background: grey;
    padding: 10px 20px 10px 20px;
    border: none;
  }
  .button:hover {
    background: grey;
    color: black;
  }